extends layouts/_layout.pug

block variables
	- var activePage = 'form-custom';
	- var activeGroup = 'forms';

block title
	title Data Table - Vali Admin

block content
	.app-title
		div
			h1
				i.fa.fa-th-list
				|  Data Link Table By Keysearch "#{keysearch}"
			p Table to display analytical data effectively

		ul.app-breadcrumb.breadcrumb.side
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| link
			li.breadcrumb-item.active
				a(href="#") Data Table

	.row
		.col-md-12
			.tile
				.tile-body
					.table-responsive
						table.table.table-hover.table-bordered#sampleTable
							thead
								tr
									th Title
									th Link
									th Time
									th Date
									
							tbody
								each val, uuid in values
									tr
																				
										td #{val[0]}
										td: a(href='/linkbylink-detail/'+ encodeURIComponent(val[1])) #{val[1]}
										td #{val[2]}
										td #{val[3]}										
								

block specific-js
	// Data table plugin
	script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').
		$('#sampleTable').DataTable();
