extends layouts/_layout.pug

block variables
	- var activePage = '';
	- var activeGroup = 'tables';

block title
	title Data Table - Vali Admin

block content
	.app-title
		div
			h1
				i.fa.fa-th-list
				|  Top 10 Link  #{time}
			p Table to display analytical data effectively

		ul.app-breadcrumb.breadcrumb.side
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| Top
			li.breadcrumb-item.active
				a(href="#") Data Table

	#exampleModal.modal.fade(role='dialog')
		.modal-dialog
			.modal-content
				.modal-header
					a.close(data-dismiss='modal') &times;
					h5#exampleModalLabel.modal-title Edit
				form#contactForm(name='contact' role='form' action="/updatetoplink" method="post")
					.modal-body
						.form-group
							label(for='top') #	
							input.form-control(type='text' id='top' name='top')
						.form-group
							label(for='title') Title
							input.form-control(type='text' id='title' name='title')
						.form-group
							label(for='title') Link
							input.form-control(type='text' id='link' name='link')
						.form-group
							label(for='title') Total
							input.form-control(type='text' id='total' name='total')
							input.form-control(type='hidden' id='index' name='index')
							input.form-control(type='hidden' id='timename' name='timename'  value= valuetimename)
						.modal-footer
							button.btn.btn-default(type='button' data-dismiss='modal') Close
							input#submit.btn.btn-success(type='submit')
	.row
		.col-md-12
			.tile
				.tile-body
					.table-responsive
						table.table.table-hover.table-bordered#sampleTable
							thead
								tr
									th #
									
									th Title
									th Link
									
									th Total
									th: form#contactForm(name='contact' role='form' action="/updatetoplink" method="post")
											input.form-control(type='hidden' id='index' name='index' value = '-1')
											input.form-control(type='hidden' id='timename' name='timename'  value= valuetimename)
											input#submit.btn.btn-success(type='submit' value = "Update All Follow Real Time")

									
							tbody
								each val, uuid in links
									tr
										td #{val[3]}
										
										td #{val[2]}
										td: a(href='/linkbylink-detail/'+ encodeURIComponent(val[0])) #{val[0]}
																			
										td #{val[1]}
										td: button.btn.btn-info.btn-lg(type='button' data-toggle='modal' data-target='#exampleModal' data-top= val[3] data-title= val[2] data-link= val[0] data-total= val[1] data-index= val[4]) Edit

												
											

block specific-js
	//- // Data table plugin
	//- script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
	//- script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript', src="/js/update.js")
	//- script(type='text/javascript').
	//- 	$('#sampleTable').DataTable();

	
